:root {
    /* primarios */
    --white: #ffffff;
    --Black: #000000;
    --gray: #DDDDDD;
    --DodgerBlue: #007ae5;
    --Text-input-field: #00AFFE;
    --DarkTurquoise: #00BDCC;
    /* secundarios */
    --notification-background: #313e2c;
    --notification-primary: #aaec8a;
    --background: #FAF9FF;
    /* tamaño de letra */
    --sm: .75rem;
    --md: .875rem;
    --lg: 1.13rem;
    
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	width: 100%;
    font-size: 16px;
}

.fondo{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0; 
}

h1 {
	font-weight: bold;
	margin: 0;
    color: gray;
}


p {
	font-size: var(--md);
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}


.spaniniciosesion {
	font-size: var(--sm);
    color: var(--Black);
}
form, input, span {
    font-size: var(--sm);
    color: red;
}

a {
	color: var(--Black);
	font-size: var(--sm);
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid var(--DodgerBlue);
	background-color: var(--DodgerBlue);
	color: var(--white);
	font-size: var(--sm);
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: var(--white);
}

form {
	background-color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

form h1{
	color: rgb(66, 66, 66);
}

input {
	border: 1px solid var(--gray);
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
    background-color: var(--white);
    color: black;
}

.container {
	background-color: var(--white);
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
    width: 850px;
	max-width: 100%;
	min-height: 400px;
    margin-top: 80px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: var(--DarkTurquoise);
	background: -webkit-linear-gradient(to right, var(--DodgerBlue), var(--DarkTurquoise));
	background: linear-gradient(to right, var(--DodgerBlue), var(--DarkTurquoise));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: var(--gray);
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-panel h1{
	color: rgb(255, 255, 255);
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid var(--DodgerBlue);
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}


/* Validadores */
.inicioSesionCorrecto {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid green;
}
.inicioSesionIncorrecto {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid red;
}
.card {
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--Text-input-field);
    margin-inline: 90px;
    background-color: var(--gray);
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    text-align: start;
}
.card:hover {
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--Text-input-field);
    margin-inline: 90px;
    background-color: #bbbbbb;
 
    
}
form label {
 display: flex;
}

.correcto {
    border: 2px solid green;
  }
  
.incorrecto {
    border: 2px solid red;
  }
.borrar {
    border: 2px solid #ccc;
  }



 /* pantalla registro exitoso  */

 .notification2 {
    position: absolute;
    width: max-content;
    left: -10px;
    bottom: 40px;
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 6px;
    background-color: var(--notification-background);
    color: var(--notification-primary);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 3s linear;
    display: flex;
}

.notification__icon {
    height: 26px;
    width: 26px;
    margin-right: 4px;
}

.notification__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 8px;
}

.notification__progress {
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: calc(100% - 8px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background: linear-gradient(
        to right, 
        var(--notification-background),  
        var(--notification-primary)
    );
    border-radius: inherit;
    animation: progress 2.5s 0.3s linear;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    95% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes progress {
    to {
        transform: scaleX(1);
    }
}

 /* pantalla registro denegado  */

 .notification3 {
    position: absolute;
    width: max-content;
    right: -520px;
    bottom: 10px;
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 6px;
    background-color: rgb(210, 59, 59);
    color: var(--white);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 3s linear;
    display: flex;
}

.notification__icon {
    height: 26px;
    width: 26px;
    margin-right: 4px;
}

.notification__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 8px;
}

.notification__progress {
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: calc(100% - 8px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background: linear-gradient(
        to right, 
        var(--notification-background),  
        var(--notification-primary)
    );
    border-radius: inherit;
    animation: progress 2.5s 0.3s linear;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    95% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes progress {
    to {
        transform: scaleX(1);
    }
}
  
 /* pantalla  inicio sesion  */

.notification {
    position: absolute;
    width: max-content;
    left: 340px; 
    bottom: 10px;
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 6px;
    background-color: var(--notification-background);
    color: var(--notification-primary);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 3s linear;
    display: flex;
}

.notification__icon {
    height: 26px;
    width: 26px;
    margin-right: 4px;
}

.notification__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 8px;
}

.notification__progress {
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: calc(100% - 8px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background: linear-gradient(
        to right, 
        var(--notification-primary)
    );
    border-radius: inherit;
    animation: progress 2.5s 0.3s linear;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    95% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes progress {
    to {
        transform: scaleX(1);
    }
}
/* pantalla inicio sesion denegado  */

.notification4 {
    position: absolute;
    width: max-content;
    right: 500px;
    bottom: 30px;
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 6px;
    background-color: rgb(210, 59, 59);
    color: var(--white);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 3s linear;
    display: flex;
}

.notification__icon {
    height: 26px;
    width: 26px;
    margin-right: 4px;
}

.notification__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 8px;
}

.notification__progress {
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: calc(100% - 8px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background: linear-gradient(
        to right, 
        var(--notification-background),  
        var(--notification-primary)
    );
    border-radius: inherit;
    animation: progress 2.5s 0.3s linear;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    95% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes progress {
    to {
        transform: scaleX(1);
    }
}

/* Logos  */

#logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 20%;
    margin: 30px 18px 20px;
}

.logoInicio {
    position: absolute;
    top: 0;
    object-fit: cover;
    max-width: 26%;
    height: auto;
}
#cerrarSesion {
    position: absolute;
    top: 45px;
    left: 780px;
    width: 30px;
    height: 30px;
    margin: 8px 18px 20px;
    object-fit: cover;
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}

#cerrarSesion:hover{
    transform: scale3d(1.5, 1.5, 0.3);
        -webkit-transform: scale3d(1.5, 1.5, 0.3);
        -moz-transform: scale3d(1.5, 1.5, 0.3);
}

@media only screen and (max-width: 600px) {
    body {
      font-size: 14px;
    }
  
    .container {
      width: 100%;
    }

    .logoInicio {
        margin-top: 40px;
        max-width: 70%;
        height: auto;
    }
  
    /* Ajustes adicionales para elementos específicos en pantallas pequeñas */
    .campos {
      width: 100%;
    }
  
    .social-container {
      flex-direction: column;
    }
  
    .form-container {
      width: 100%;
    }
  
    .overlay-container {
      width: 100%;
    }
  
    .overlay-panel {
      width: 100%;
    }
  
    .notification,
    .notification2,
    .notification3,
    .notification4 {
      left: 0;
      right: 0;
    }
  
    #cerrarSesion {
      left: 70%;
    }
  }

  .borde-verde {
    border: 2px solid green;
  }
  
  /* Estilo para borde rojo */
  .borde-rojo {
    border: 2px solid red;
  }